* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #1f1e1e;
  color: #fff;
  padding: 0.5rem;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.vanish {
  display: none;
}
.show {
  display: initial;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #333;
  width: 100%;
}

.info-child {
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.board {
  flex-grow: 1;
  border: 2px solid #333;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}
.block {
  border: 1px solid #333;
}

.snake {
  background-color: #4caf50;
}

.food {
  background-color: rgb(212, 27, 27);
}

.start {
  color: #4caf50;
}
.start_btn {
  padding: 0.5rem 2rem;
  color: #eeecec;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #6ddf70;
  border: none;
  position: relative;
  z-index: 5;
  overflow: hidden;
  cursor: pointer;
}
.start_btn:hover {
  color: #000000;
}
.start_btn::after {
  content: "";
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: #6ddf70;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  transition: all 0.3s;
}
.start_btn:hover::after {
  left: 0%;
  transition: all 0.3s;
}

#start_btn {
  margin-top: 1.5rem;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.637);
  backdrop-filter: blur(3px);
}
#functions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30%;
}

#notice {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

#notice div {
  background-color: rgba(0, 0, 0, 0.473);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: popup 1.5s ease-in-out alternate;
}

#notice h1 {
  color: #f13333;
  font-size: 4rem;
  text-align: center;
}

@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#restart_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  height: 20%;
  background: rgba(12, 12, 12, 0.637);
  backdrop-filter: blur(3px);
  border-radius: 1rem;
  box-shadow: 0 0 10px #6ddf70;
}
